@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-9">
           <a class="btn btn-primary" asp-controller="Articulos" asp-action="Index">Articulos</a>
           <a class="btn btn-primary" asp-controller="Proveedor" asp-action="Index">Proveedores</a>
           <a class="btn btn-primary" asp-controller="SliderConfiguracion" asp-action="Index">Slider</a>
           <a class="btn btn-primary" asp-controller="Categoria" asp-action="Index">Articulos</a>
           <a class="btn btn-primary" asp-controller="Pedido" asp-action="Index">Proveedores</a>
           <a class="btn btn-primary" asp-controller="Estado" asp-action="Index">Slider</a>
        </div>
    </div>
</div>